node_modules/
.next/
.next-e2e/

# playwright
/test-results/
/playwright-report/
/e2e/.auth/
/demo-videos/
out/
build/
.env
.env*.local
*.tsbuildinfo
next-env.d.ts
.DS_Store
*.stackdump
server.log
.neon

# clerk configuration (can include secrets)
/.clerk/
